html {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

#box1 {
    height: 280px;
    width: 100%;
}

img#bg {
    width: 100%;
    height: 240px;
}

#bg-desktop {
    visibility: hidden;
}

#backCard {
    position: absolute;
    top: 15%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#frontCard {
    position: absolute;
    top: 29%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 300px;
}

p {
    display:
}

#box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#expiryMonth,
#expiryYear,
#cvv {
    width: 10%;
}

.inputfield {
    display: block;
}

sup {
    color: red;
}


#innerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}


.lable {
    padding-top: 10px;
    padding-left: 0;
    margin-top: 10px;
    padding-bottom: 5px;
}

input {
    width: 90%;
    padding: 16px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

#expiryYear {
    margin-left: 25px;
}

#cvv {
    margin-left: 40px;
    width: 20%;
}

#cvvlable {
    margin-left: 9%;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;


}

button {
    padding: 16px;
    width: 100%;
    background-color: #3c1446;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media(min-width:1200px) {
    #container {
        flex-direction: row;
        align-items: start;
    }

    #bg {
        display: none;
    }

    #box1 {
        height: 100vh;
        width: 470px
    }


    #bg-desktop {
        visibility: visible;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #backCard {
        position: absolute;
        top: 65%;
        left: 35%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    #frontCard {
        position: absolute;
        top: 25%;
        left: 28%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    #box2 {
        position: absolute;
        top: 25%;
        left: 58%;
    }

    .attribution {
        position: absolute;
        top: 75%;
        left: 67%;
    }
}