html {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}


#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

#box1 {
    height: 280px;
    width: 100%;
}

img#bg {
    width: 100%;
    height: 240px;
}

#bg-desktop {
    visibility: hidden;
}

#backCard {
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 280px;
}

#frontCard {
    position: absolute;
    top: 29%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 280px;
}

#displayname {
    position: absolute;
    top: 35%;
    left: 13%;
    color: white;

}

#displaynumber {
    position: absolute;
    top: 29%;
    left: 13%;
    color: white;
    letter-spacing: 2px;
    font-size: larger;

}

#displayexpiry {
    position: absolute;
    top: 34.7%;
    right: 24%;
    color: white;
    font-size: medium;
}

#displaycvv {
    position: absolute;
    top: 13.5%;
    right: 17.5%;
    color: white;
    font-size: medium;
    font-weight: 600;
}

#logo {
    position: absolute;
    top: 21%;
    left: 13.5%;
}

#box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#expiryMonth,
#expiryYear,
#cvv {
    width: 10%;
}

.inputfield {
    display: block;
}

sup {
    color: red;
}


#innerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}


.lable {
    padding-top: 10px;
    padding-left: 0;
    margin-top: 10px;
    padding-bottom: 5px;
}

input {
    width: 90%;
    padding: 16px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

#expiryYear {
    margin-left: 25px;
}

#cvv {
    margin-left: 40px;
    width: 20%;
}

#cvvlable {
    margin-left: 9%;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;


}



button {
    padding: 16px;
    width: 100%;
    background-color: #3c1446;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media(min-width:1200px) {
    #container {
        flex-direction: row;
        align-items: start;
    }

    #bg {
        display: none;
    }

    #box1 {
        height: 100vh;
        width: 470px
    }


    #bg-desktop {
        visibility: visible;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #backCard {
        position: absolute;
        top: 65%;
        left: 35%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    #frontCard {
        position: absolute;
        top: 25%;
        left: 28%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    #displayname {
        position: absolute;
        top: 35%;
        left: -7%;
        color: white;
        font-size: x-large;

    }

    #displaynumber {
        top: 28%;
        left: 14.5%;
        font-size: xx-large;
        letter-spacing: 3px;


    }

    #logo {
        position: absolute;
        top: 12%;
        left: -12%;
        width: 120px;
        height: 60px;
    }

    #displayexpiry {
        top: 34.5%;
        left: 41%;
        font-size: x-large;

    }

    #displaycvv {
        top: 63%;
        left: 47%;
        font-size: x-large;
    }



    #box2 {
        position: absolute;
        top: 25%;
        left: 58%;
    }

    .attribution {
        position: fixed;
        top: 610px;
        bottom: 180px;
        left: 64.5%;

    }
}

@media (min-width: 400px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 4%;
    }

    #displayexpiry {
        margin-right: 2%;
    }

    #displaycvv {
        margin-right: 2.5%;
    }
}

/* Starting from 450px */
@media (min-width: 450px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 6%;
    }

    #displayexpiry {
        margin-right: 4.5%;
    }

    #displaycvv {
        margin-right: 5%;
    }

}

/* Starting from 500px */
@media (min-width: 500px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 8%;
    }

    #displayexpiry {
        margin-right: 6%;
    }

    #displaycvv {
        margin-right: 7.5%;
    }
}

/* Starting from 550px */
@media (min-width: 550px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 10%;
    }

    #displayexpiry {
        margin-right: 8%;
    }

    #displaycvv {
        margin-right: 9%;
    }
}

/* Starting from 600px */
@media (min-width: 600px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 12%;
    }

    #displayexpiry {
        margin-right: 10%;
    }

    #displaycvv {
        margin-right: 10.5%;
    }
}

/* Starting from 650px */
@media (min-width: 650px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 14%;
    }

    #displayexpiry {
        margin-right: 12%;
    }

    #displaycvv {
        margin-right: 12%;
    }
}

/* Starting from 700px */
@media (min-width: 700px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 15%;
    }

    #displayexpiry {
        margin-right: 14%;
    }

    #displaycvv {
        margin-right: 13%;
    }
}

/* Starting from 750px */
@media (min-width: 750px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 16%;
    }

    #displayexpiry {
        margin-right: 14%;
    }

    #displaycvv {
        margin-right: 13.8%;
    }
}

/* Starting from 800px */
@media (min-width: 800px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 17%;
    }

    #displayexpiry {
        margin-right: 16%;
    }

    #displaycvv {
        margin-right: 14.5%;
    }
}

/* Starting from 850px */
@media (min-width: 850px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 18%;
    }

    #displayexpiry {
        margin-right: 17%;
    }

    #displaycvv {
        margin-right: 15.3%;
    }
}

/* Starting from 900px */
@media (min-width: 900px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 19%;
    }

    #displayexpiry {
        margin-right: 18%;
    }

    #displaycvv {
        margin-right: 16%;
    }
}

/* Starting from 950px */
@media (min-width: 950px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 19.5%;
    }

    #displayexpiry {
        margin-right: 18.5%;
    }

    #displaycvv {
        margin-right: 16.5%;
    }
}

/* Starting from 1000px */
@media (min-width: 1000px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 20%;
    }

    #displayexpiry {
        margin-right: 19%;
    }

    #displaycvv {
        margin-right: 17%;
    }
}

/* Starting from 1050px */
@media (min-width: 1050px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 20.5%;
    }

    #displayexpiry {
        margin-right: 19.5%;
    }

    #displaycvv {
        margin-right: 17.4%;
    }
}

/* Starting from 1100px */
@media (min-width: 1100px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 21%;
    }

    #displayexpiry {
        margin-right: 20%;
    }

    #displaycvv {
        margin-right: 17.9%;
    }
}

/* Starting from 1150px */
@media (min-width: 1150px) {

    #displayname,
    #displaynumber,
    #logo {
        margin-left: 21.5%;
    }

    #displayexpiry {
        margin-right: 20.5%;
    }

    #displaycvv {
        margin-right: 18.4%;
    }
}


@media (min-width: 1200px) {

    #displayname {
        top: 35%;
        left: -12%;
    }

    #displaynumber {
        top: 28%;
        left: -12%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 40%;
    }

    #displaycvv {
        top: 63%;
        left: 46.5%;
    }

    #logo {
        top: 12%;
        left: -12%;
    }
}

@media (min-width: 1300px) {

    #displayname {
        top: 35%;
        left: -11%;
    }

    #displaynumber {
        top: 28%;
        left: -11%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 39%;
    }

    #displaycvv {
        top: 63%;
        left: 45.5%;
    }

    #logo {
        top: 12%;
        left: -11%;
    }
}

@media (min-width: 1400px) {

    #displayname {
        top: 35%;
        left: -9.5%;
    }

    #displaynumber {
        top: 28%;
        left: -9.5%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 38%;
    }

    #displaycvv {
        top: 63%;
        left: 44.8%;
    }

    #logo {
        top: 12%;
        left: -9.8%;
    }
}

@media (min-width: 1500px) {

    #displayname {
        top: 35%;
        left: -8.5%;
    }

    #displaynumber {
        top: 28%;
        left: -8.5%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 37.5%;
    }

    #displaycvv {
        top: 63%;
        left: 44.2%;
    }

    #logo {
        top: 12%;
        left: -8.8%;
    }
}

@media (min-width: 1600px) {

    #displayname {
        top: 35%;
        left: -7.5%;
    }

    #displaynumber {
        top: 28%;
        left: -7.5%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 37%;
    }

    #displaycvv {
        top: 63%;
        left: 43.8%;
    }

    #logo {
        top: 12%;
        left: -7.5%;
    }
}

@media (min-width: 1700px) {

    #displayname {
        top: 35%;
        left: -7%;
    }

    #displaynumber {
        top: 28%;
        left: -7%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 36.5%;
    }

    #displaycvv {
        top: 63%;
        left: 43.5%;
    }

    #logo {
        top: 12%;
        left: -7%;
    }
}

@media (min-width: 1800px) {

    #displayname {
        top: 35%;
        left: -7%;
    }

    #displaynumber {
        top: 28%;
        left: -7%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 36.5%;
    }

    #displaycvv {
        top: 63%;
        left: 43.5%;
    }

    #logo {
        top: 12%;
        left: -7%;
    }
}

@media (min-width: 1900px) {
    #frontcard {
        width: 600px;
    }

    #backcard {
        width: 600px;
    }

    #displayname {
        top: 35%;
        left: -5.5%;
    }

    #displaynumber {
        top: 28%;
        left: -5.5%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 35.5%;
    }

    #displaycvv {
        top: 63%;
        left: 42.5%;
    }

    #logo {
        top: 12%;
        left: -5.5%;
    }
}

@media (min-width: 2000px) {

    #displayname {
        top: 35%;
        left: -5%;
    }

    #displaynumber {
        top: 28%;
        left: -5%;
    }

    #displayexpiry {
        top: 34.5%;
        left: 35%;
    }

    #displaycvv {
        top: 63%;
        left: 42%;
    }

    #logo {
        top: 12%;
        left: -5%;
    }
}